<div class="card">
    <p id="texto">Registrar Nuevo Alumno</p>
    <span>Todos los campos con (*) son requeridos</span>
 <form method="POST" id="Tipo" onsubmit="return verificar()"> 
   {% csrf_token %}
    <!-- <label for="id_password">Contraseña:</label> -->
    <input id="id_password" maxlength="128" name="password" type="text">
<!-- <label for="id_username">Nombre de usuario:</label> -->
<input id="id_username" maxlength="30" name="username" type="text"><br>
<label for="id_first_name">Nombres (*):</label>
<input id="id_first_name" maxlength="50" name="first_name" type="text" required>
<label for="id_last_name">Ap. Paterno (*):</label>
<input id="id_last_name" maxlength="30" name="last_name" type="text" required>
<label for="id_materno">Ap. Materno (*):</label>
<input id="id_materno" maxlength="30" name="materno" type="text" required>
<label for="id_curso">Curso (*):</label>
    <select id="id_curso" name="curso" required>
        <option value="" selected="selected">---------</option>
        {% for i in cursos %}
        <option value="{{i.id}}"> {{i.curso|upper}} </option>
        {% endfor %}
    </select>
<label for="id_ci">Ci (*):</label>
<input id="id_ci" name="ci" type="number" required>
<!-- <label for="id_telefono">Telefono:</label> -->
<input id="id_telefono" name="telefono" type="number" value="0">

<label for="id_email">Dirección de correo electrónico:</label>
<input id="id_email" maxlength="75" name="email" type="email">
    <button class="btn btn-success" type="submit" onsubmit="verificar()">Aceptar</button>
  </form>
  <p id="valid" style="color:red; text_align:center;"></p>
</div>
<script type="text/javascript">
$('#id_ci').blur(ejecutar);
        function ejecutar(){
            var use= $('#id_ci').val();
            $.ajax({
                type:'get',
                url:'/verificacion/',
                data:{'use': use },
                beforeSend: entesEnviar,
                success:function (resp){
                    console.log(resp);
                    $("#valid").html(resp);
                }
            });
            function entesEnviar(){
                $('#valid').text("Verificando...")
            }
        }
$("#id_ci").blur(Convalidar);
function Convalidar(){
    $("#id_username").val($("#id_ci").val());
    $("#id_password").val($("#id_ci").val());
    $("#id_password2").val($("#id_ci").val());
}

    function verificar(){
        
        var nombre=$('#id_first_name').val();
        var ape=$('#id_last_name').val();
        if (nombre==''||ape==''){
            alert('Error no deve dejar casillas en blanco');
            return false;
        }
        else{
           
        }
    }
    $('#Tipo').submit(function(e){
        e.preventDefault();
        var dato=$(this).serialize();
        console.log(dato);
        $.ajax({
            type:'POST',
            url:'/nuevoAlumnoA/',
            data: dato,
            success:function(resp){
                console.log(resp);
                $('#FormAjax').html(resp);
            }
        });
    });
$(function(){
    document.getElementById("id_first_name").focus();
    $(".helptext").hide();
    $("#id_password").hide();
    $("#id_username").hide();
    $("#id_telefono").hide();
});
</script>