
<label>Esta Seguro dar de Alta al Usuario: <br>
	<strong>{{dato.get_full_name|upper}} {{dato.perfilAlumno.materno|upper}}</strong>
	 </label>

 <div class="modal-footer">
    <button class="btn btn-danger" type="button" onclick="AltaAluno();">Confirmar</button>
  </div>
<script type="text/javascript">
function AltaAluno(){
	$.ajax({
		type:'GET',
		url:'/AltaAlumno/'+{{dato.id}}+'/',
		success:function(resp){
			$("#DatosContenidos").html(resp);
			Update();
		}
	});
}
function Update(){
	$.ajax({
		type:'GET',
		url:'/escogido/'+{{dato.id}}+'/',
		success:function(resp){
			$("#FormAjax").html(resp);
		}
	});
}
</script>